/* This stylesheet is used to style the admin option form of the plugin. */
.box {
	border: 1px solid #d2d2d2;
	padding: 0 20px;
	background: #fff;
	margin-bottom: 10px;
}
.box p {margin-left: 20px;}
.box p.hh {margin-left:0;}
.box label {
	display:inline-block;
	width: 200px;
}