/* This stylesheet is used to style the public view of the plugin. */

.flexslider {
	background: transparent;
	border: none;
	box-shadow: none;
	border-radius: 0;
}
.carousel {overflow:hidden;margin-top:30px;}
.carousel li {
	margin-right: 27px;
}
.box, .box h2 {
	font-weight: normal;
}
.box {
	border: 1px solid #fff;
	position: relative;
}
.box h2 {
	font-size: 21px;
	border-top: 1px dashed #aaa;
	padding-top: 10px;
}
.box h2 a {
	color: #212121;
}
.box h2 a:hover {
	color: #424242;
}
.cinema {
	float:left;
	color:#424242;
}
.rating {
	float:right;
	color: orange;
}
.screentime {
	font-family: Arial;
}
.box .last {
	position: absolute;
	top: 12%;
	left: 0;
	background-color: rgba(255, 0, 0, 0.5);
	padding: 5px 10px;
	color: #fff;
}

.box .details a, .box .buy a {
	padding: 5px 22px;
	color:#313131;
	text-transform: uppercase;
	margin-top: 20px;
	font-size: 11px;
}
.box .details a:hover, .box .buy a:hover {
	color:#000;
}
.box .details a{
	float: left;
	background-color: #d2d2d2;
	
}
.box .buy a{
	float:right;
	background-color:#ffc600;
}